.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px 10px;
  border-top: 2px solid #D3683C;
}

.socsety {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin-left: 40px;
}

.socsety a {
  margin-right: 20px; /* Добавляет отступ между изображениями */
}

.texty {
  font-size: 12px;
}



@media (max-width: 412px){
  .socsety {
    width: 200px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .texty {
    font-size: 7px;
  }
}

@media (max-width: 768px){
  .socsety {
    width: 170px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .texty {
    font-size: 7px;
  }
}