.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px 10px;
  border-bottom: 2px solid #D3683C;
}

.logo {
  margin-right: 2rem;
}

.hamburger-menu {
  display: none; /* Скрываем по умолчанию на больших экранах */
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 2rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #D3683C; /* изменение цвета при наведении */
}


/* Медиа запрос для адаптивного меню */
@media (max-width: 767px) {
  .nav {
    flex-direction: column; /* Располагаем элементы вертикально */
    position: absolute; /* Размещаем меню поверх контента */
    top: 70px; /* Отступ сверху */
    left: 0; /* Положение слева */
    width: 100%; /* Ширина меню на всю ширину экрана */
    background-color: #000; /* Цвет фона меню */
    opacity: 0; /* Начальное значение прозрачности */
    transition: opacity 0.5s; /* Плавное изменение прозрачности */
    pointer-events: none; /* Отключаем события мыши до появления меню */
  }

  .nav.open {
    opacity: 1; /* Показываем меню при открытии */
    pointer-events: auto; /* Включаем события мыши */
  }

  .hamburger-menu {
    display: block; /* Показываем кнопку гамбургера на маленьких экранах */
  }

  .nav ul {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    padding: 0;
    margin: 0;
  }

  .nav li {
    margin: 10px 0px 10px 20px;
  }

  .nav {
    font-size: 12px;
  }
}