@font-face {
  font-family: "Spectral SC";
  src: url("/fontfont/SpectralSC-Bold.ttf");
  font-weight: bold;
}

/* Общие стили для страницы */
body {
  font-family: 'Spectral SC', serif;
  font-family: spectral SC;
  background-color: #000;
}



/* 1 блок сайта */
.hero {
  background-image: url("sun.webp");
  background-size: cover;
  height: 90vh; /* Высота блока равна высоте экрана */
  display: flex;
  align-items: center; /* Вертикальное выравнивание содержимого по центру */
  justify-content: center; /* Горизонтальное выравнивание содержимого по центру */
  background-attachment: fixed;
  background-position: center;
}

.hero-text {
  max-width: 600px; /* Максимальная ширина текста */
  text-align: center;
}

.hero-text h1{
  font-size: 1.8rem; /* Размер шрифта заголовка */
  margin-bottom: 10px; /* Отступ снизу заголовка */
  color: #fff; /* Цвет заголовка */
  font-weight: bold; /* Полужирный шрифт заголовка */
}


.btn {
  padding: 25px 25px 25px 25px; /* Отступы внутри кнопки */
  border: 3px solid #D3683C;
  border-radius: 50px; /* Закругленные углы */
  background-color: #000; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  cursor: pointer; /* Курсор при наведении на кнопку */
  margin-top: 30px; /* Отступ сверху кнопки */
}




/* БЛОК С АСТРОЛОГАМИ */

.team-section {
  padding: 90px;
  background-image: url(4.webp);
  background-size: cover;
  background-position: center;
  height: auto;
}


.team-section h1 {
  color: #D3683C;
  font-size: 2rem; /* Размер шрифта заголовка */
  margin-bottom: 3rem; /* Отступ сверху кнопки */
  text-align: center;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
  max-width: 400px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.team-member h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #D3683C;
}

.team-member span {
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
}

.team-member .social-icons {
  margin-top: 15px;
}

.team-member .social-icons a {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.team-member .social-icons a:hover {
  color: #999;
}

.row {
  display: flex;
  justify-content: space-around;
}


/* Добавьте этот код в свой CSS-файл */

.team-member {
  padding-right: 30px;
}




/* 2 блок сайта */

.container1 {
  padding: 90px;
  background-image: url(5.webp);
  background-size: cover;
  background-position: right;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.heading {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #D3683C;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.text-block {
  width: 50%;
  text-align: left;
  color: #fff;
}

.text-block p {
  margin-bottom: 1rem;
}

.image-block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
  height: 90%;
  border-radius: 10%;
}


/* Рассылка */

.Rassylka {
  display: grid;
  background-image: url('./mercu.webp');
  background-position: left;
  text-align: right;
}

.Rassylka h2 {
  color: #D3683C;
  font-size: 2rem; /* Размер шрифта заголовка */
  margin-top: 2rem; /* Отступ сверху кнопки */
  margin-bottom: 2rem;
  text-align: center;
}

.Rassylka p {
  margin-top: 10px;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 30px;
  margin-right: 40px;
  font-size: 16px;
}

.Rassylka input {
  padding: 10px;
  border: 2px solid #D3683C;
  background-color: #000;
  color: #fff;
  border-radius: 150px;
  outline: none;
  margin-right: 80px; /* от стенки ввод */
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
}

.Rassylka input::placeholder {
  color: #D3683C;
}

.Rassylka button {
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid #D3683C;
  border-radius: 150px;
  background-color: #D3683C;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  margin-right: 130px;
  margin-bottom: 30px;
}

.Rassylka button:disabled {
  cursor: not-allowed;
}

.Rassylka button:hover {
  opacity: 1;
}


/* знаки зодиака */

.block-container {
  text-align: center;
  color: #fff;
  padding: 90px;
  background-image: url(8.webp);
  background-size: cover;
}

.block-title {
  color: #D3683C;
  font-size: 2rem; /* Размер шрифта заголовка */
  margin-bottom: 1rem; /* Отступ сверху кнопки */
  text-align: center;
}

.block-text {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.image-item {
  text-align: center;
}

.image-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.image-item h3 {
  font-size: 18px;
  color: #D3683C;
}

.image-item p {
  font-size: 14px;
}









@media (max-width: 412px) {

 /* Адаптивка для мобилки 1 БЛОК САЙТА */
.hero {
  background-position: center;
  background-size: 1500px;
  height: 60vh; /* Высота блока равна высоте экрана */
}

.hero-text {
  max-width: 300px; /* Максимальная ширина текста */
  font-size: 15px;
}

.hero-text h1{
  font-size: 18px; /* Размер шрифта заголовка */
  margin-bottom: 8px; /* Отступ снизу заголовка */
}

.btn {
  padding: 15px 15px 15px 15px; /* Отступы внутри кнопки */
}


/* Адаптивка для мобилки 2 БЛОК САЙТА */


.container1 {
  padding: 30px;  
}

.heading {
  font-size: 23px;
}

.content {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.text-block {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.text-block p {
  font-size: 10px;
}

.image-block {
  width: 70%;
  display: flex;
  margin-left: 50px;
}



/* Адаптивка для мобилки АСТРОЛОГИ */


.team-section {
  padding: 30px;
}

.team-section h1 {
  font-size: 23px;
}

.team-member {
  padding-right: 10px;
}

.team-member img {
  width: 10px;
  height: 10px;
}

.team-member h3 {
  font-size: 12px;
}

.team-member span {
  font-size: 10px;
}

.team-member p {
  font-size: 8px;
}



/* Адаптивка для мобилки ЗНАКИ ЗОДИАКА */

.block-container {
  padding: 40px;
}

.block-title {
  font-size: 23px; /* Размер шрифта заголовка */
}

.block-text {
  font-size: 10px;
}

.image-item img {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.image-item h3 {
  font-size: 10px;
  text-align: center;
}

.image-item p {
  font-size: 8px;
  margin: 2px;
}

/*  Адаптивка для мобилки РАССЫЛКА */

.Rassylka h2 {
  font-size: 23px; /* Размер шрифта заголовка */
  margin-top: 2rem; /* Отступ сверху кнопки */
  margin-bottom: 20px;
  text-align: center;
}

.Rassylka p {
  margin-top: 10px;
  margin-right: 0px;
  font-size: 11px;
  text-align: center;
}

.Rassylka input {
  padding: 10px;
  margin-right: 70px; 
}


}


@media (max-width: 768px) {


  /* 1 блок сайта */
  .hero {
    height: 90vh; /* Высота блока равна высоте экрана */
    }
  

  /* Адаптивка для мобилки АСТРОЛОГИ */


  .team-section {
    padding: 30px;
  }
  
  .team-section h1 {
    font-size: 23px;
  }
  
  .team-member {
    padding-right: 10px;
  }
  
  .team-member img {
    width: 120px;
    height: 120px;
  }
  
  .team-member h3 {
    font-size: 17px;
  }
  
  .team-member span {
    font-size: 14px;
  }
  
  .team-member p {
    font-size: 13px;
  }


  
  /* Адаптивка для мобилки ЗНАКИ ЗОДИАКА */

  .block-container {
    padding: 40px;
  }
  
  .block-title {
    font-size: 23px; /* Размер шрифта заголовка */
  }
  
  .block-text {
    font-size: 10px;
  }
  
  .image-item img {
    width: 50px;
    height: 50px;
    margin-left: 6px;
  }
  
  .image-item h3 {
    font-size: 10px;
    text-align: center;
  }
  
  .image-item p {
    font-size: 8px;
    margin: 2px;
  }



  /*  Адаптивка для мобилки РАССЫЛКА */

.Rassylka h2 {
  font-size: 23px; /* Размер шрифта заголовка */
  margin-top: 2rem; /* Отступ сверху кнопки */
  margin-bottom: 20px;
  text-align: center;
}

.Rassylka p {
  margin-top: 10px;
  margin-right: 0px;
  font-size: 11px;
  text-align: center;
}

.Rassylka input {
  padding: 10px;
  margin-right: 70px; 
}
  
  
   }
   




   @media (max-width: 1024px) {

    /* Адаптивка для мобилки 2 БЛОК САЙТА */
    
    
    .container1 {
      padding: 50px;  
    }
    
    .content {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      width: 100%;
    }
    
    .text-block {
      width: 100%;
      text-align: left;
      margin-bottom: 40px;
    }
    
    .text-block p {
      font-size: 15px;
    }
    
    .image-block {
      width: 60%;
      display: flex;
      margin-left: 12vh;
    }    
    
    }
    
    